h1#site-title{
    text-align:center;
    font-size: 60px;
    color:black;
    margin-top:40px;
    margin-bottom:24px;
} 
header nav ul {
  background: #8cbde8;
  text-align: center;
  margin: 0 auto;
  list-style: none;
  padding: 10px;
  border: 1px solid black;
  text-decoration: none;
  line-height:0.8;
}
nav ul li { 
  padding: 24px;
  display: inline;
  overflow: hidden;
}
header nav ul li a{
  color: black;
  text-decoration: none;
  display:inline;
}
nav ul li a:hover {
  text-decoration: underline;
}
.container{
    width:96%;
    max-width: 1020px;
    margin: 0 auto;
    background-color: rgb(192, 213, 236);
}
figure{
  border:2px solid black;
  padding: 20px;
}
figure.main-image{
  background-color:rgb(192, 213, 236);
  border-color:black;
  max-width:1020px;
  margin-bottom: 50px;
  margin-left: 50px;
  text-align:center;
}
h2#gift-cards{
  text-align:justify;
  font-size: 48px;
}
h3#article-title{
  text-align: center;
  font-size:48px;
}
h4#section-title{
  font-size: 48px;
  text-align:center;
}
body{
    font-family:'Times New Roman', Times, serif;
    background-color:#8cbde8;
    color:black;
    text-align:left;
    margin-right: 50px;
    margin-left: 100px;
    line-height: 1.5;
    font-size: 24px;
    max-width:1020px;
}
figure.section-image {
    border: 2px solid black;
    max-width: 400px;
    float:left;
  }
ul.b {
    list-style-type: circle;
    display:list-item;
    align-items:left;
}
footer#page-footer{
    text-align: center;
    padding: 12px 0;
    background: #8cbde8;
    text-align: center;
    margin: 0 auto;
    padding: 12px;
    text-decoration: none;
    border: 1px solid black;
    color:black;
    line-height:0.8;
  }